#overlay {
	padding: 20px;
	height: 80px;
	background-color: black;
	font-size:20px;
	font-weight: bold;
	color:yellow;			
	width: 400px;	
}

#dateFormat,
#lineId {
	margin-right: 25px;
}

@-webkit-keyframes slider {
   0% {
		right: -200px;    
   	}

    100% {
    	right: 450px;
    }
}

#scroll{
	position: absolute;
	margin-top: 20px;	
	width: 220px;
	-webkit-animation-name: slider; 
	-webkit-animation-duration: 16s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}