#overlay {
    padding: 20px;
    height: 500px;
    background-color: black;
    width: 500px;
}

.departure,
#scroll {
    height: 40px;
    font-size:20px;
    font-weight: bold;
    color:yellow;
}

#newStop{
    text-decoration: underline;
    cursor: pointer;
}

#stopName,
#newStop {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.lineId {
    display: inline-block;
    width: 300px;
}

@-webkit-keyframes slider {
0% {
    right: -200px;
}

100% {
    right: 450px;
}
}

#scroll{
    position: absolute;
    bottom: 20px;
    width: 300px;
    -webkit-animation-name: slider;
    -webkit-animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}